version: "3.5"
services:
  dev-db:
    image: "mongo:4.4"
    restart: "no"
    ports:
      - "127.0.0.1:27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: test
  dev-rvoc:
    depends_on:
      - "dev-db"
    build:
      context: "rvoc-backend"
      args:
        RELEASE_FLAG: ""
    command: -- --mongodb-host dev-db
    restart: "no"
    ports:
      - "127.0.0.1:2374:2374"