[package]
name = "rvoc-backend"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]

[[bin]]
name = "rvoc-backend"
path = "src/bin.rs"

[dependencies]
tokio = {version = "1.29.1", features = []}
log = "0.4.19"
tracing = "0.1.37"
clap = {version = "4.3.15", features = ["derive"]}
serde = {version = "1.0.171", features = ["derive"]}
futures = "0.3.28"
toml = "0.7.6"
password-hash = "0.5.0"
argon2 = "0.5.1"
rand = "0.8.5"
cookie = "0.17.0"
chrono = "0.4.26"

[dev-dependencies]
reqwest = {version = "0.11.18", features = ["blocking", "json", "cookies"]}
serde_json = "1.0.103"
