name: Rust Backend Tests and Lints

on: [push, pull_request]

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  precheck_rust:
    name: Precheck Rust
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v3

      - name: Install toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: cargo check
        run: cargo check --bins --tests