name: Rust Backend Tests and Lints

on: [push, pull_request]

jobs:
  build_test_format_lint:
    name: ${{matrix.command.name}} (${{matrix.toolchain}})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, beta, nightly, 1.56.1]
        command:
          - name: Check
            command: check
            args: --all-features
            components: ""
          - name: Test
            command: test
            args: --all-features
            components: ""
        include:
          - toolchain: stable
            command:
              name: Format
              command: fmt
              args: --all -- --check
              components: rustfmt
          - toolchain: stable
            command:
              name: Lint
              command: clippy
              args: --all-features --tests --benches -- -D clippy::all
              components: clippy

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          profile: minimal
          override: true
          default: true
          components: rustfmt, clippy

      - name: Rust cache
        uses: Swatinem/rust-cache@v1
        with:
          key: ${{ runner.os }}
          working-directory: backend/rvoc-backend

      - name: ${{matrix.command.name}}
        uses: actions-rs/cargo@v1
        with:
          command: ${{matrix.command.command}}
          args: --manifest-path backend/rvoc-backend/Cargo.toml ${{matrix.command.args}}